:root {
    --main-color: #2f6a85;
    --secondary-color: #3EB489;
    --white-color: #fff6e7;
    --black-color: #000000;
}

@font-face {
    font-family: 'patrik';
    src: url('../fuentes/PatrickHandSC-Regular.ttf');

    
}
@font-face {
    font-family:'mulish' ;
    src: url('../fuentes/Mulish-VariableFont_wght.ttf');
}

body {
    font-family: 'mulish';
    background-color: var(--white-color);
    color: var(--black-color);
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--main-color);
    color: var(--white-color);
    padding: 15px;
    height: auto;
}

header img {
    height: 50px;
    margin-right: 15px;
}

.logo{
    height: 100px;
}

nav {
    display: flex;
    justify-content: center;
    background-color: var(--secondary-color);
    padding: 10px 0;
}

nav a {
    color: var(--white-color);
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

.barra {
    display: flex;
    padding-top: 2em;
}

.barra form {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.barra input {
    width: 400px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid var(--main-color);
    margin-right: 10px;
}

.barra button {
    width: 100px;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    background-color: var(--main-color);
    color: var(--white-color);
    cursor: pointer;
}

.container {
    padding: 20px;
}

.section {
    margin-bottom: 30px;
}

h2 {
    color: var(--main-color);
}

/* Estilo general de la tabla */
table {
    width: 100%;
    border-collapse: separate; /* Para bordes redondeados */
    border-spacing: 0; /* Elimina espacios entre celdas */
    margin-top: 15px;
    border-radius: 10px; /* Bordes redondeados */
    overflow: hidden; /* Asegura que los bordes redondeados afecten todo */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Agrega sombra */
}

/* Estilo para encabezado */
table th {
    background-color: #34657f; /* Color del encabezado */
    color: #ffffff;
    text-transform: uppercase;
    padding: 12px 15px;
    text-align: left;
    font-size: 14px;
}

/* Estilo para celdas */
table td {
    background-color: #f9f9f9;
    padding: 12px 15px;
    text-align: left;
    font-size: 14px;
}

/* Hover en las filas */
table tbody tr:hover {
    background-color: #e3f2fd; /* Color claro al hacer hover */
}

/* Alternancia de colores */
table tr:nth-child(even) td {
    background-color: #e8f0f4;
}

/* Botones */
.button {
    display: inline-block;
    text-align: center;
    padding: 8px 0; /* Ajuste vertical */
    width: 100px; /* Misma anchura */
    margin: 5px 0;
    border: none; /* Sin bordes */
    border-radius: 20px; /* Bordes redondeados */
    font-size: 14px;
    cursor: pointer;
    color: #ffffff;
    text-transform: uppercase;
}

.ban, .delete {
    background-color: #ff4d4d;
}

.allow {
    background-color: var(--secondary-color);
}

.deny{
    background-color: #f0ad4e;
}

.chat {
    background-color: var(--main-color);
}

button:hover {
    opacity: 0.8;
}

.formulario {
    background-color: var(--white-color);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 20px auto;
    text-align: left;
}

.formulario button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border: none;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: var(--main-color);
}

.form-group select {
    width: 100%;
}

.form-group input, .form-group select {
    width: 95%;
    padding: 10px;
    border: 1px solid var(--main-color);
    border-radius: 5px;
}

.form-group input:focus, .form-group select:focus {
    outline: none;
    border-color: var(--secondary-color);
}
