* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Mulish', sans-serif;
}

@font-face {
font-family: 'Patrick';
src: url('../fuentes/PatrickHandSC-Regular.ttf');
}

@font-face {
font-family: 'Mulish';
src: url("../fuentes/Mulish-VariableFont_wght.ttf");
}

body {
background-color: #fff6e7;
font-family: 'Mulish', Arial, sans-serif;
overflow-x: hidden;
}

header {
background-color: #2f6a85;
padding: 15px;
display: flex;
align-items: center;
justify-content: space-between;
height: 6.5em;
}
.logo {
display: flex;
align-items: center;
}
.logo img {
height: 100px;
margin-right: 10px;
}
.search-bar {
flex-grow: 1;
max-width: 500px;
padding: 30%;
border: none;
margin: 0 20px;
color: #ffffff;
font-family: 'Mulish';
}
.icons a {
text-decoration: none;
}
.icons {

display: flex;
gap: 10px;
}
.icons img {
width: 35px;
height: 35px;
cursor: pointer;
}

.chat-container {
display: flex;
flex-direction: column;
height: calc(100vh - 80px);
padding: 20px;
gap: 20px;
}

.message-right, .message-left {
display: flex;
flex-direction: column;
margin-bottom: 20px;
}

.message-right {
align-items: flex-end;
}

.message-left {
align-items: flex-start;
}

.message-right h3, .message-left h3 {
font-size: 1.2em;
font-weight: bold;
color: #2f6a85;
}

.message-right h2, .message-left h2 {
font-size: 1.1em;
color: #333;
}

.message-right p, .message-left p {
font-size: 0.9em;
color: #888;
margin-top: 5px;
}

.chat-form {
display: flex;
flex-direction: column;
gap: 10px;
margin-top: 20px;
}

.chat-form textarea {
padding: 10px;
border-radius: 5px;
border: 1px solid #ccc;
font-size: 1em;
resize: none;
}

.chat-form button {
padding: 10px;
border-radius: 5px;
background-color: #2f6a85;
color: #fff;
font-size: 1em;
border: none;
cursor: pointer;
transition: background-color 0.3s ease;
}

.chat-form button:hover {
background-color: #1d4e60;
}

footer {
background-color: #C7C7C7;
padding: 10px;
text-align: center;
font-size: 0.9em;
position: fixed;
bottom: 0;
width: 100%;
}

footer a {
color: rgb(0, 0, 0);
text-decoration: none;
margin: 0 15px;
transition: color 0.3s;
}

footer a:hover {
color: #2f6a85;
}

@media (max-width: 768px) {
    .chat-container {
        flex-direction: column;
        padding: 10px;
    }

    .message-right, .message-left {
        align-items: stretch;
    }

    .chat-form textarea {
        height: 80px;
    }
}