/*fuentes*/
@font-face {
    font-family: 'patrick';
    src: url('../fuentes/PatrickHandSC-Regular.ttf');

    
}
@font-face {
    font-family:'mulish' ;
    src: url('../fuentes/Mulish-Italic-VariableFont_wght.ttf');
}


/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff6e7;
}

/* Encabezado */
header {
    background-color: #2f6a85;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    display: flex;
    align-items: center;
}
.logo img {
    height: 100px;
    margin-right: 10px;
}
.titulo{
    color: #ffffff;
    font-family: 'mulish';
    margin-right: 3%;
}
.search-bar {
    flex-grow: 1;
    margin: 0 20px;
    display: flex;
}
.search-bar input {
    font-family: 'patrick';
    width: 100%;
    padding: 8px;
    border: none;
    border-radius: 5px;
}
.icons a {
    text-decoration: none;
}
.icons {
    
    display: flex;
    gap: 10px;
    
}
.icons img {
    width: 35px;
    height: 35px;
    cursor: pointer;
}


/* Contenido principal */
.main-content {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin-top: 20px;
}
.questions-box {
    margin-left: 10%;
    width: 79%;
    padding: 10px;
    background-color: #F5F5F5;
    border-radius: 10px;
    align-items: center;
}
/* Contenedor Principal */
.container {
    display: flex;
    height: 400px;
    padding: 20px;
}
.sidebar {
    width: 200px;
    background-color: #82BFBF;
    padding: 20px;
    border-radius: 10px;
}
.sidebar a {
    display: block;
    color: black;
    font-weight: bold;
    text-decoration: none;
    margin: 15px 0;
}
.carousel-container {
    width: 80%;
    overflow: hidden;
    border-radius: 20px; /* Bordes más circulares para el contenedor */
    /*box-shadow: 0 4px 8px rgba(0,0,0,0.2);*/
    position: relative;
    margin-left: 10%;
    margin-top: 2%;
}
.carousel {
    display: flex;
    transition: transform 0.5s ease;

}

.slide {
    min-width: 100%;
    display: flex;
}

/* Estilos para las preguntas y el fondo */
.slide .question {
    font-family: 'mulish';
    height: 400px;
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    font-weight: bold;
    padding: 20px;
    color: #333;
}

/* Colores de fondo para cada pregunta */
.slide:nth-child(1) .question {
    background-color: #3EB489;
}

.slide:nth-child(2) .question {
    background-color: #B8E2F6;
}

.slide:nth-child(3) .question {
    background-color: #89CFF0;
}

.slide:nth-child(4) .question {
    background-color: #B2E1D0;
}

.slide:nth-child(5) .question {
    
    background-color: #65c3a1;
}

/* Estilos para la imagen */
.image-background {
    width: 100%; /* Ajusta el ancho según tus necesidades */
    height: 440px; /* Ajusta la altura según tus necesidades */
    background-image: url('../img/img1.png'); /* URL de la imagen */
    background-size: cover; /* La imagen se redimensiona para cubrir todo el contenedor */
    background-position: center; /* Centra la imagen en el contenedor */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
}

/* Botones de navegación */
.nav-buttons {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.nav-button {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 1.2em;
}
/*barra opciones central*/
nav{
    padding: 1em;
    margin-right: 5%;
    text-align: center;
    font-family: 'mulish';
}
  
  nav li {
    /*  margin: 1em;
    text-decoration-style: none;
    display:inline-block;*/
    font-size: 1.5em;
    display: inline-block;  
    /*  text-align: center; /* texto justificado*/
     /* padding: 0.5em 1em;*/
  }
  nav a{
     
    text-decoration: none;
    list-style-type:none;
    text-decoration: none; /* no muestra el subrayado */
      
    margin: 0 0.5em 0 0;
    margin:0px;
    padding: 0.7em 1em;
    color: rgb(0, 0, 0);
    border-radius: 0.5em;
    text-decoration: none; 
    list-style-type:none;
    transition: 2s;
  }
  nav a:hover{
  
    background: #65c3a1a3;
    
  }

.nav-button:focus {
    outline: none;
}
.questions-box{
    margin-top: 8%;
    display: block;
    margin-bottom: 5%;
}

.questions-box p {
    font-family: 'patrick';
    font-size: 18px;
    margin: 45px;
    margin-left: 10px;
}
.questions-box h3{
    font-family: 'mulish';
    font-size: 26px;
    margin: 0;
    margin-left: 10px;
}.questions-box {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: justify;
}

.quienessomos, .comofunciona {
    border: 1px solid #ddd; /* Borde opcional para separar cada sección */
    padding: 15px;
    border-radius: 5px;
 
}

h3 {
    text-align: center; /* Centra el título en cada sección */
    margin-bottom: 10px;
    background-color: #2f6a85;
    color: #fff6e7;
    padding: 15px;
}

.content {
    display: flex;
    align-items: center;
    gap: 15px;
}

.content img {
    width: 250px; /* Ajusta el tamaño de la imagen */
    height: auto;
    border-radius: 5px; /* Bordes redondeados para la imagen */
}

.content p {
    flex: 1; /* Hace que el texto ocupe el resto del espacio */
}

/* Alterna el orden para que las imágenes y textos se intercalen */
.quienessomos:nth-child(odd) .content,
.comofunciona:nth-child(odd) .content {
    flex-direction: row;
}

.quienessomos:nth-child(even) .content,
.comofunciona:nth-child(even) .content {
    flex-direction: row-reverse;
}


/* Estilos para la sección de imágenes adicionales */
.additional-images {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10%;
}

.additional-images img {
    width: 17%; /* Ajusta el ancho para que las 4 imágenes se ajusten en una fila */
    height: 17%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.additional-images img:hover {
    transform: scale(1.05); /* Efecto de zoom al pasar el mouse */
}

.info {
    margin-bottom: 20px;
    text-align: center;
    padding: 50px;
    background-color: #f9f9f9; /* Color de fondo */
    border-top: 1px solid #ddd; /* Línea superior */
}


/* Estilo para los logos de los patrocinadores */
.info-logos {
    display: flex;
    justify-content: center;
    gap: 80px; /* Espacio entre logos */
    flex-wrap: wrap; /* Permitir que los logos se ajusten en varias filas */
}

.info-logos img {
    width: 210px; /* Tamaño de los logos */
    height: 100px;
    transition: transform 0.3s ease; /* Efecto de escala al pasar el cursor */
}

.info-logos img:hover {
    transform: scale(1.1); /* Aumenta ligeramente el tamaño al pasar el cursor */
}


/* Pie de página */
footer {
    background-color: #C7C7C7;
    padding: 10px;
    text-align: center;
    font-size: 14px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
footer a {
    color: black;
    text-decoration: none;
    margin: 0 15px;
}
