* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'mulish';
  }
  @font-face {
    font-family: 'patrick';
    src: url('../fuentes/PatrickHandSC-Regular.ttf');

    
}

  @font-face {
    font-family: 'Mulish';
    src: url("../fuentes/Mulish-VariableFont_wght.ttf" );

}
  body {
    font-family: Arial, sans-serif;
    background-color: #fff6e7;
  }
  
  .top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #2f6a85;
    padding: 15px;
  }

  .logo {
    height: 100px;
  }
  
  .search-bar {
    flex-grow: 1;
    max-width: 500px;
    padding: 8px;
    border: none;
    border-radius: 5px;
    margin: 0 20px;
  }
.search-bar input {
    font-family: 'patrick';
    width: 100%;
    padding: 8px;
    border: none;
    border-radius: 5px;
}
  .icons a {
    text-decoration: none;
}
.icons {
    
    display: flex;
    gap: 10px;
}
.icons img {
    width: 35px;
    height: 35px;
    cursor: pointer;
}

  .notification-dot {
    color: red;
    font-size: 0.8em;
    vertical-align: super;
  }
  
  .categories {
    display: flex;
    justify-content: center;
    background-color: #e4f3f7;
    padding: 10px 0;
    gap: 15px;
    font-size: 0.9em;
  }
  
  .categories a {
    color: #333;
    text-decoration: none;
    padding: 5px 10px;
  }
  
  .categories a:hover {
    background-color: #a5c9cf;
    border-radius: 5px;
  }
  
  .messages-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    text-align: center;
    margin-left: 18%;
  }
  
  .message-box {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #d3d3c7;
    padding: 10px 20px;
    border-radius: 8px;
  }
  
  .message-box a {
    margin: 0;
    text-decoration: none;
    color: #000;
  }
  
  .edit-icon {
    font-size: 1.2em;
    cursor: pointer;
  }
  
  .no-messages {
    margin-top: 20px;
    color: #333;
  }
  
  .message-envelope {
    font-size: 3em;
    margin-bottom: 10px;
  }
  
  .no-messages p {
    margin: 5px 0;
  }
  .container {
    display: flex; /* Para alinear filtros y productos lado a lado */
    flex-direction: row; /* Horizontalmente */
    height: calc(100vh - 80px); /* Resta el espacio de la barra superior */
    overflow: hidden;
}

  .mensajes{
  
    width: 25%;
    background-color: #e7f4fc;
    padding: 20px;
    border-right: 2px solid #d3d3d3;
    box-sizing: border-box;
    overflow-y: auto; /* Scroll para contenido largo */
    
  }

  .mensajes h4{
    padding-top: 5%;
    padding-bottom: 8%;
  }

  .mensaje{
    background-color: white;
    color: #2f6a85;
    width: 98%;
    margin-left: 1%;
    padding-bottom: 10%;
    border-radius: 8%;
  }

  .mensaje h4{
    margin-left: 5%;
    padding-top: 5%;
    color: #2f6a85;
  }

  .mensaje p{
    margin-left: 10%;
    padding-top: 0.5%;
    color: #333;
  }

  footer {
    background-color: #C7C7C7;
    padding: 10px;
    text-align: center;
    font-size: 14px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
footer a {
    color: black;
    text-decoration: none;
    margin: 0 15px;
}

  