/* Estilos globales */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'patrick';


}
  @font-face {
    font-family: 'patrick';
    src: url('../fuentes/PatrickHandSC-Regular.ttf');

    
}

  @font-face {
    font-family: 'Mulish';
    src: url("../fuentes/Mulish-VariableFont_wght.ttf" );

}
body {
    background-color: #fff6e7;
}

/* Encabezado */
header {
    background-color: #2f6a85;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 6.9em;
}

.logo {
    width: 100px;
}


/* Sección de inicio de sesión */
.login-section {
    background-color: #3f86a7;
    border-radius: 10px;
    width: 400px;
    padding: 65px;
    margin: 55px auto;
    text-align: center;
}

.login-section h2 {
    color: white;
    margin-bottom: 50px;
    font-size: 2em;
}

.login-section form label {
    display: block;
    margin-bottom: 5px;
    color: #333;
    font-weight: bold;
    
}

.login-section form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 35px;
    border-radius: 5px;
    border: 2px solid #000;
   
}

.login-section button {
    background-color: #2f6a85;
    color: white;
    border: solid 1px;
    border-color: #000000;
    border-radius: 5px;
    padding: 10px;
    width: 50%;
    font-size: 1em;
    cursor: pointer;
}

.login-section .forgot-password {
    display: block;
    margin-top: 10px;
    color: #000000;
    text-decoration: none;
}

.login-section .forgot-password:hover {
    text-decoration: underline;
}

/* Pie de página */
footer {
    background-color: #C7C7C7;
    padding: 10px;
    text-align: center;
    font-size: 14px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
footer a {
    color: black;
    text-decoration: none;
    margin: 0 15px;
}


